* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @keyframes changebgc{
    from{
        background-color: white;
        border-radius: 0px;
        scale: 1;
    }
    to{
        background-color: red;
        border-radius: 50%;
        scale: 0.25;
    }
} */

@property --bgColor{
    syntax: "<color>";
    initial-value: white;
    inherits: false;
}

@keyframes changebgColor{
    from{
        --bgColor: green;
    }
    to{
        --bgColor: blue;
    }
}

#box{
    height: 300px;
    width: 400px;
    /* box-shadow: 2px 2px 40px red; */
    /* background: conic-gradient(from 180deg, white, black); */
    background-color: var(--bgColor);
    animation: changebgColor 10s;
}