*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-top: 300px;
}

input{
    padding: 5px 10px;
    width: auto;
    height: 10%;
    font-size: 20px;
}

button{
    padding: 10px 20px;
    width: auto;
    font-size: 24px;
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

button:active{
    scale: 0.95;
}

h2{
    color: white;
}