*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1{
    font-size: 60px;
    color: brown;
}

button{
    background-color: yellow;
    width: 15%;
    height: 20%;
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 40px;
    border: 4px solid white;
}