@font-face {
    font-family: HelveticaNeue;
    src: url(./HelveticaNeueLight.otf);
}

@font-face {
    font-family: STL;
    src: url(./Superior-Title-Light.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    font-family: HelveticaNeue;
    align-items: center;
    background-color: white;
    color: rgb(54, 51, 51);
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#nav{
    position: relative;
    display: flex;
    gap: 40px;
    font-size: 13px;
    font-weight: 800;
}

#nav-left{
    position: absolute;
    left: 4%;
    display: flex;
    gap: 30px;
}

#nav h2{
    position: absolute;
    left: 46%;
    font-weight: 300;
    font-family: STL;
}

#nav-right{
    position: absolute;
    display: flex;
    right: 4%;
    gap: 30px;
}

#heading{
    position: absolute;
    padding-top: 50px;
    font-size: 350px;
    left: 2%;
    font-weight: 400;
}

#div1{
    position: absolute;
    top: 45%;
    left: 67%;
    height: 260px;
    width: 190px;
    background-image: url(./brwn-grl.avif);
    background-size: cover;
    background-position: center;
    z-index: 3;
}

#div2{
    position: absolute;
    top: 66%;
    left: 58%;
    height: 200px;
    width: 180px;
    background-image: url(./boi.avif);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#div3{
    position: absolute;
    top: 58%;
    left: 49%;
    height: 210px;
    width: 180px;
    background-image: url(./white-grl.avif);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#left-btm{
    position: absolute;
    top: 70%;
    left: 4%;
    width: 12%;
    height: 100px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

#btm-line{
    position: relative;
    top: 99%;
    text-decoration: italic;
    display: flex;
}

#btm-line-left{
    position: absolute;
    left: 4%;
    font-style: italic;
    font-weight: 100;
}

#btm-line-right{
    position: absolute;
    right: 4%;
    text-decoration: underline;
    text-underline-offset: 4px;
}

#btm-line-right-arrow{
    position: absolute;
    right: 2%;
}