*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,rgb(11, 11, 11) 50%, rgb(17, 17, 17), rgb(27, 25, 25));

    section{
        height: 100%;
        width: 28%;

        .all-reels{
            height: 100%;
            width: 100%;
            position: relative;
            overflow: auto;
            border-radius: 10px;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            .reel{
                height: 100%;
                width: 100%;
                position: relative;
                margin-bottom: 20px;
                scroll-snap-align: start;
                scroll-snap-stop: always;
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .right{
                    height: 40%;
                    width: 12%;
                    position: absolute;
                    right: 0%;
                    bottom: 15%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    flex-direction: column;
                    text-align: center;
                    overflow: hidden;
                    z-index: 5;

                    i{
                        font-size: 30px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    h4{
                        font-size: 20px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }

                .btm{
                    // height: 10%;
                    width: 100%;
                    position: absolute;
                    bottom: 0%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.378), rgba(47, 46, 46, 0));
                    color: white;
                    z-index: 5;

                    .btm-top{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                        h3{
                            margin-right: 15px;
                            font-weight: 500;
                        }
                        button{
                            padding: 0px 10px;
                            background: transparent;
                            border: 2px solid white;
                            color: white;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                    .caption{
                        font-size: 16px;
                        color: white;
                        margin-left: 10px;
                    }
                }
            }
        }
        .all-reels::-webkit-scrollbar{
            display: none;
        }
    }
}



