*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main button{
    padding: 10px 20px;
    color: white;
    background-color: salmon;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

main button:hover{
    color: salmon;
    background-color: white;
}

main button:active{
    transform: scale(0.95);
}