*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
}

html{
    background-color: rgb(26, 25, 25);
    color: rgb(233, 220, 220);
    font-family: monospace;
}