* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

:root{
    --x: 0px;
    --y: 0px;
}

body{
    background: url(https://images.unsplash.com/photo-1636572481914-a07d36917486?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.box {
    height: 100%;
    width: 100%;
    /* border: 1px solid white; */
    /* background: linear-gradient(in hsl/okLab to right, red, grey); */
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0.141), rgba(0, 0, 0, 0.705));
}
